/** @format */

@import '../../settings/variables.scss';

.chartsContainer {
  width: 100%;
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
