/** @format */

$black-color: #363c45;
$text-color: #e6e5e8;
$white-color: #fff;
$azure-color: #03c9d7;
$orange-color: #fb9678;
$grey-color: #767e89;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
