/** @format */

@import '../../../settings/variables.scss';

.chartContainer {
  width: 100%;
  height: 300px;
  @media (min-width: $breakpoint-tablet) {
    width: 700px;
  }
  @media (min-width: $breakpoint-desktop) {
    height: 480px;
  }
}
